langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
langgraph
langgraph-checkpoint-sqlite
fastapi
uvicorn[standard]
apscheduler
pydantic
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
requests
sendgrid
pydantic-settings
flask>=3.0.0
requests>=2.31.0
langsmith
